*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  #548687;
    text-align: center;
}
.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 70vmin;
    width: 60vmin;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: rgb(82, 10, 112);
}
.box{
    font-size: xx-large;
    color: black;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background-color: #ffffc7;
}
.box:hover{
    border: 2px solid black;
    color: aliceblue;
    background-color: rgba(255, 254, 254, 0.719);
}
#reset{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    color: rgba(240, 248, 255, 0.863);
    background-color: rgb(31, 30, 30);
}